body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #edf0f2;
}

a {
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}

.dialog-box {
    max-width: 400px;
    padding: 2ch;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.accounts-grid {
    display: grid;
    grid-template-columns:1fr 1fr;
}

.accounts-grid div {
    text-align: center;
}

.accounts-grid div p {
    margin: 0;
}

.icon-wrapper {
    display: inline-block;
    position: relative;
}

.icon-wrapper img {
    border-radius: 50%;
    height: 64px;
}

.icon-wrapper img + img {
    background-color: white;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: 8px;
}

button {
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 3px;
}

.colored-button {
    font-size: 18px;
    transition-duration: 170ms;
    background-color: #78909c;
    color: white;
    border: none;
}

.colored-button:hover {
    background-color: #6c828c;
}

.colored-button:active {
    background-color: #627680;
}